<launch>

  <!--- Run the segway -->
  <include file="$(find segbot_run)/launch/segway.launch" />

  <!--- Run the kinect -->
  <include file="$(find segbot_navigation)/launch/kinect.launch" />

  <!-- Run the map server -->
  <arg name="map_file" default="$(find segbot_navigation)/maps/ens-basement-2012-05-17.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!--- Run AMCL -->
  <include file="$(find segbot_navigation)/launch/amcl.launch" />

  <!--- Run Move Base using EBand -->
  <include file="$(find segbot_navigation)/launch/move_base_eband.launch" />

</launch>
