<launch>

  <!--- Run the segway with joystick -->
  <include file="$(find pharos_run)/launch/joy_segway.launch" />

  <!--- Run the kinect -->
  <include file="$(find segbot_navigation)/launch/kinect.launch" />

  <!--- Run gmapping -->
  <include file="$(find segbot_navigation)/launch/gmapping.launch" />

  <!--- Run Move Base -->
  <include file="$(find segbot_navigation)/launch/move_base.launch" />

</launch>
