<launch>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find segbot_navigation)/config/costmap/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find segbot_navigation)/config/costmap/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find segbot_navigation)/config/costmap/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find segbot_navigation)/config/costmap/global_costmap_params.yaml" command="load" />

    <rosparam file="$(find segbot_navigation)/config/eband/eband_planner_params.yaml" command="load"/>
    <param name="base_local_planner" value="eband_local_planner/EBandPlannerROS" />

    <!-- Load OMPL planner plugin to the base_global_planner (skipped to avoid dependencies to this package) -->
    <!-- param name="base_global_planner" value="ompl_planner_base/OMPLPlannerBase" /-->
    <!-- Activate publishing of statistics and diagnostics data -->
    <!-- param name="OMPLPlannerBase/publish_diagnostics" value="true" /-->
    <!-- Deactivated interpolation between path-samples -->
    <!-- param name="OMPLPlannerBase/interpolate_path" value="true" /-->

  </node>
</launch>
