<launch>

  <arg name="map_topic" default="/map" />
 
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find segbot_navigation)/config/costmap/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find segbot_navigation)/config/costmap/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find segbot_navigation)/config/costmap/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find segbot_navigation)/config/costmap/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find segbot_navigation)/config/base/base_local_planner_params.yaml" command="load" />
    <param name="global_costmap/robot_base_frame" value="base_footprint"/>
    <param name="global_costmap/map_topic" value="$(arg map_topic)"/>
  </node>

</launch>
