<launch>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base_node" output="screen">
    <param name="base_global_planner" value="SBPLLatticePlanner" />
    <param name="SBPLLatticePlanner/primitive_filename" value="$(find segbot_navigation)/sbpl/segway_basic.mprim" />
    <rosparam file="$(find segbot_navigation)/config/costmap/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find segbot_navigation)/config/costmap/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find segbot_navigation)/config/costmap/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find segbot_navigation)/config/costmap/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find segbot_navigation)/config/sbpl/sbpl_global_params.yaml" command="load" />
    <rosparam file="$(find segbot_navigation)/config/base/base_local_planner_params.yaml" command="load" />
  </node>
</launch>
